<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <meta charset="utf-8" />
    <title>Chat Rooms</title>
    <link rel="Stylesheet" href="{% static 'css/chat.css' %}" />
  </head>

  <body>
    <div>
      <div>
        {% comment %} <input id="room-name-input" type="text" size="25" />
        <input id="room-name-submit" type="button" value="Enter" /> {% endcomment %}
        <form method="POST" class="chat_channel_form" value="문제 번호를 입력하세요">
          {% csrf_token %}
          {{ chat_channel_form }}
          <input type="submit" value="채팅방 생성">
        </form>
      </div> <!--form-->
      <div>
        {% if chat_channel_list %}
          {% for channel in chat_channel_list %}
            <li>
              <a href="{% url 'chat_room' this_team.id channel.chat_channel_name %}">{{channel.chat_channel_name}}</a>
              <a href="{% url 'chat_room_delete' this_team.id channel.chat_channel_name %}">채팅방 삭제</a>
            </li>
          {% endfor %}
        {% endif %}
      </div>
      <div>
        {% block room %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>

<script>
  document.querySelector('#room-name-input').focus();
  document.querySelector('#room-name-input').onkeyup = function(e) {
      if (e.keyCode === 13) {  // enter, return
          document.querySelector('#room-name-submit').click();
      }
  };

  document.querySelector('#room-name-submit').onclick = function(e) {
      var roomName = document.querySelector('#room-name-input').value;
      window.location.pathname = '/team/{{this_team.id}}/chat/' + roomName + '/';
  };
</script>