@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic");

body, input, select, textarea {
  color: rgba(255, 255, 255, 0.75);
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: 100;
  line-height: 1.75em;
}

body {
    color: #fff;
    background-color: #272b30;
}

.chat_channel_form {
    padding:10px 12px;
    /*width:100px;*/
}

.chat-log1 {
    width:100%;
    height:98%;
    resize: none;
    background-color: #272b30;
}

.chat-log2 {
    width:100%;
    height:95%;
    resize: none;
    background-color: #272b30;
}

.wrapper_chat_main {
    display: grid;
    grid-gap: 0px;
    width: 100%;
    height: 97%;
    padding: 10px 10px;
    grid-template-rows: 60px 1fr;
}

.wrapper_chat_room {
    display: grid;
    grid-gap: 0px;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    grid-template-rows: 50px 15% 1fr;
}

.chat-list {
    overflow:auto;
    padding:10px;
}
.room-title1 {
    color:#aaa;
}
.room-title2 {
    color:#aaa;
    float:right;
}
.chat-title {
    color:#aaa;
    font-size:20px;
    text-align:center;
}

.textarea, #id_chat_channel_name {
    width:50%;
    background-color: #272b30;
    resize: none;
}

.textarea, #chat-message-input {
    /*display: block;*/
    resize: none;
    background-color: #272b30;
}

#chat-message-input {
    width:100%;
}

#chat-message-submit {
    margin-top:5px;
    float:right;
}

.btn {
    border-color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn-primary {
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
}

#id_chat_channel_name{
    margin: 3px;
}

.chat-room {
    display: grid;
    grid-gap: 0px;
    width: 100%;
    height: 100%;
    grid-template-rows: 30px 1fr;
}