body {
    color: #aaa;
    background-color: #272b30;
}

.wrapper {
    padding:10px 12px;
}

.chat_channel_form {
    padding:10px 12px;
    /*width:100px;*/
}

.textarea {
    display: block;
    resize: none;
}