{% extends 'board/base_main.html' %}

{% block enter_problem_number_area %}
    <form style="display: flex; padding:7px 0px 0px 0px;
            justify-content: center;" action="{% url 'redirect_problem_home' team_id=this_team.id %}" method="get">
        <input style="width:460px; padding: 0.50rem 1rem;"type="text" name='problem_number' value="문제 번호를 입력하세요" onfocus="this.value=''">
        <input type="submit" value="확인">
    </form>
{% endblock %}

{% block team_select_area %}
{% endblock %}

{% block chat_area %}
    <iframe src="http://localhost:8000/team/{{this_team.id}}/chat" width="296px" height="100%"></iframe>
{% endblock %}

{% block problem_code_area %}
{% endblock %}

{% block teammate_area %}
    {% for teammate in teammates %}
    <table>
        <tr>{{teammate.username}}</tr>
        <tr> 이름: {{teammate.first_name}} {{teammate.last_name}}</tr>
    </table>
    {% endfor %}
{% endblock %}