<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
CoteWithMe!!!
테스트 계정 : test/testtessttest

{% if user.is_authenticated %}
    <a href="{% url 'logout' %}"><span class="glyphicon glyphicon-user">logout</span></a>
{% else %}
    <a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user">signup</span></a>
    <a href="{% url 'login' %}"><span class="glyphicon glyphicon-lock">login</span></a>
{% endif %}

{% block content %}
{% endblock %}
</body>
</html>