<!DOCTYPE html>
{% load static %}

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" type="text/css">
    <!-- my -->
    <link rel="Stylesheet" href="{% static 'css/board.css' %}">
    <link rel="shortcut icon" href="{% static '/favicon_io/favicon.ico' %}">
</head>
<body>

<div class="row">
    <div class="col-sm-4" style="background-color: aquamarine">
        <h1 class="logo_h1"><a href="/">CoTeWithMe!!!</a></h1>
    </div>
    <div class="col-sm-4" style="background-color: brown">

{% block enter_problem_number_area %}
{% endblock %}
    </div>
    <div class="col-sm-4" style="background-color: chartreuse">
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="top-menu"><span class="glyphicon glyphicon-user">logout</span></a>
        {% else %}
            <a href="{% url 'signup' %}" class="top-menu"><span class="glyphicon glyphicon-user">signup</span></a>
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock">login</span></a>
        {% endif %}
    </div>
</div>


<div class="wrapper_base">
    <div class="div1">
        {% block team_select_area %}
        {% endblock %}
        <table>
            {% for team in joined_teams %}
                <tr><a class="team_button" href="{% url 'team_home' team_id=team.id %}"> {{ team.team_name }}</a></tr>
            {% endfor %}
        </table>
    </div>
    <div class="div2">
        {% block chat_area %}
        {% endblock %}
    </div>
    <div class="div3">
        {% block problem_code_area %}
        {% endblock %}
    </div>
    <div class="div4">
        {% block teammate_area %}
        {% endblock %}
    </div>
</div>

</body>
</html>