<!DOCTYPE html>
{% load static %}

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>CTWM MAIN</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" type="text/css">
    <!-- my -->
    <link rel="Stylesheet" href="{% static 'css/board.css' %}">
    <link rel="Stylesheet" href="{% static 'css/tab.css' %}">
    <link rel="shortcut icon" href="{% static '/favicon_io/favicon.ico' %}">
</head>
<body>

<div class="wrapper_top">
    <div class="col-sm-12" id="main_1">
{#        <div class="logo"><a class="logo_detail" href="/">CoTeWithME</a></div>#}
        <a href="/">
            <img class="logo1" src="{% static "css/ctwm_logo.png" %}" style="height:90%;">
        </a>
    </div>
    <div class="col-sm-12" id="main_2">
        <a href="https://www.acmicpc.net/" target="_blank">
            <img class="logo2" src="{% static "css/logo@2x.png" %}" style="height:50%;">
        </a>
    </div>
    <div class="col-sm-12" id="main_3">
        {% block enter_problem_number_area %}
        {% endblock %}
    </div>

    <div class="col-sm-12" id="main_4">
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">
                <span class="glyphicon glyphicon-lock" style="padding-top: 7%; margin-left: 10px; float: right; text-align: right; font-size: 18px;">logout</span>
            </a>
            <span class="glyphicon glyphicon-user" style="padding-top: 7%; float: right; text-align: right; font-size: 18px;">{{ user }}</span>

        {% else %}
            <a href="{% url 'signup' %}" class="top-menu"><span class="glyphicon glyphicon-user">signup</span></a>
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock">login</span></a>
        {% endif %}
    </div>
</div>


<div class="wrapper_base">
    <div class="div1">
        {% block team_select_area %}
        {% endblock %}
        <table>
            {% for team in joined_teams %}
                <tr><a class="team_button" href="{% url 'team_home' team_id=team.id %}"> {{ team.team_name }}</a></tr>
            {% endfor %}
        </table>
    </div>
    <div class="div2">
        {% block chat_area %}
        {% endblock %}
    </div>
    <div class="div3">
        {% block problem_code_area %}
        {% endblock %}
    </div>
    <div class="div4">
        {% block teammate_area %}
        {% endblock %}
    </div>
</div>

</body>

<script>
var textAreaArray = document.querySelectorAll("textarea");
for (var i = textAreaArray.length-1; i >=0;i--){
    textAreaArray[i].addEventListener('keydown',function(e) {
        if(e.keyCode == 9) { // tab was pressed
            // get caret position/selection
            var start = this.selectionStart;
            var end = this.selectionEnd;
            var target = e.target;
            var value = target.value;
            // set textarea value to: text before caret + tab + text after caret
            target.value = value.substring(0, start)
                        + "\t"
                        + value.substring(end);
            // put caret at right position again (add one for the tab)
            this.selectionStart = this.selectionEnd = start + 1;
            // prevent the focus lose
            e.preventDefault();
        }
    },false);
}
</script>

</html>