{% extends 'board/base_main.html' %}

{% block enter_problem_number_area %}
    <form action="{% url 'redirect_problem_home' team_id=this_team.id %}" method="get">
        <input type="text" name='problem_number' value="문제 번호를 입력하세요" onfocus="this.value=''">
        <input type="submit" value="확인">
    </form>
{% endblock %}

{% block team_select_area %}
{% endblock %}

{% block chat_area %}
    <iframe src="http://localhost:8000/team/{{this_team.id}}/chat" width="296px" height="100%"></iframe>
{% endblock %}

{% block problem_code_area %}
{% endblock %}

{% block teammate_area %}
    
{% endblock %}