{% extends 'board/base_team.html' %}

{% block problem_code_area %}
    <form method="post">
        {% csrf_token %}
        <div class="new_post_category">
            <p style="font-weight: bold; font-size: 32px">카페 글 쓰기</p>
        </div>
        <hr style="border: solid 2px; margin-left: 6%; margin-right: 7%">
        <div>
            {{ post_form }}
        </div>
        <div>
            <button class="save btn btn-primary" style="background-color: #3a3f44; border-color: #4f4f4f; float: right; margin-right: 8%" type="submit">저장</button>
        </div>
    </form>
{% endblock %}
