{% extends 'board/base_team.html' %}

{% block problem_code_area %}

<div>
  <a type="button" class="btn btn-primary" href="{% url 'post_edit' this_team.id post.id %}">수정</a>
  <a type="button" class="btn btn-primary" href="{% url 'post_delete' this_team.id post.id %}">삭제</a>
  {% if post.published_date %}
    <div class="date">
    {{ post.created_date }}
    </div>
  {% endif %}
  <h1>{{ post.title }}</h1>
  <p>{{ post.content|linebreaksbr }}</p>
</div>

<div>
  <form method="post">
    {% csrf_token %}
    {{comment_post_form}}
    <button type="submit" class="save btn btn-primary">댓글 작성</button>
  </form>
</div>

<div>
  {% for comment in comments_post %}
      <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.content|linebreaks }}</p>
        {% comment %} <a class="btn btn-default" href="{% url 'delete_comment_problem' team_id=this_team.id problem_number=problem.문제번호 codes_string=codes_string comment_problem_id=comment.id %}">댓글 삭제</a> {% endcomment %}
      </div>
    {% empty %}
      <p>No comments here yet :(</p>
    {% endfor %}
</div>

{% endblock %}