{% extends 'board/base_team.html' %}

{% block team_select_area %}
{% endblock %}

{% block problem_code_area %}

<div id="css_tabs">
  <!-- 라디오 버튼 -->
  <input id="tab1" type="radio" name="tab" checked="checked" />
  <input id="tab2" type="radio" name="tab" />
  <input id="tab3" type="radio" name="tab" />
  <input id="tab4" type="radio" name="tab" />
  <input id="tab5" type="radio" name="tab" />
  <input id="tab6" type="radio" name="tab" />
  <!-- 라벨 : 화면에 표시되는 탭 제목 -->
  <label for="tab1">Tab 1</label>
  <label for="tab2">Tab 2</label>
  <label for="tab3">Tab 3</label>
  <label for="tab4">Tab 4</label>
  <label for="tab5">Tab 5</label>
  <label for="tab6">Tab 6</label>
  <!-- 탭 내용 : 탭 제목을 선택했을 때 표시되는 본문 -->
  <div class="tab1_content">
    Tab1 내용<br />
    마음은 무덤 웃으며, 수염을 환자의 누그러졌다. 벌써 설렁탕을 국물이 채이는 이 제시한다. 앉았으면 일찍이 관련이 얼굴을 사람은 먼곳을 자기 낸가. 쏟아져 뭔지가 기생 있는 않았다.
  </div>
  <div class="tab2_content">
    Tab2 내용<br />
    근 인력거꾼의 그 라디오로 한다느니보다 바이며, 왜 2위는 충실하였다. 말라서 듯이 높게 또 가지고 것이다. 궂은 같은 끝나가고 소리가 김첨지는 쳐보았건만, 액수에 후려갈겼다. 그 속에서 하고 과한데.
  </div>
  <div class="tab3_content">
    Tab3 내용<br />
    사십 듯이 만들 황급하였다. 말조차 벌던 방학을 있었다. 그러자, 날리고 젠장맞을 없었다. 보배를 수 조금 남은 없네, 있다. 그는 은전이 원 수 띄었다. 아씨, 하고 천하를 그들의 모든 병자에 뿐이다.
  </div>
  <div class="tab4_content">
    Tab4 내용<br />
    사십 듯이 만들 황급하였다. 말조차 벌던 방학을 있었다. 그러자, 날리고 젠장맞을 없었다. 보배를 수 조금 남은 없네, 있다. 그는 은전이 원 수 띄었다. 아씨, 하고 천하를 그들의 모든 병자에 뿐이다.
  </div>
  <div class="tab5_content">
    Tab5 내용<br />
    사십 듯이 만들 황급하였다. 말조차 벌던 방학을 있었다. 그러자, 날리고 젠장맞을 없었다. 보배를 수 조금 남은 없네, 있다. 그는 은전이 원 수 띄었다. 아씨, 하고 천하를 그들의 모든 병자에 뿐이다.
  </div>
  <div class="tab6_content">
    Tab6 내용<br />
    사십 듯이 만들 황급하였다. 말조차 벌던 방학을 있었다. 그러자, 날리고 젠장맞을 없었다. 보배를 수 조금 남은 없네, 있다. 그는 은전이 원 수 띄었다. 아씨, 하고 천하를 그들의 모든 병자에 뿐이다.
  </div>
</div>

{% endblock %}

{% block teammate_area %}
    {% for teammate in teammates %}
    <table>
        <tr>{{teammate.username}}</tr>
        <tr> 이름: {{teammate.first_name}} {{teammate.last_name}}</tr>
    </table>
    {% endfor %}
{% endblock %}

