{% extends 'board/base_main.html' %}

{% block team_select_area %}
{% endblock %}

{% block chat_area %}
    <iframe src="http://localhost:8000/chat" width="296px" height="100%"></iframe>
{% endblock %}

{% block problem_code_area %}
    <div class="wrapper_select">
        <div>
            <a class="btn btn-primary btn-lg text-center" href="{% url 'team_create' %}"><span class="glyphicon glyphicon-plus"> 팀 생성</span></a>
            <a class="btn btn-primary btn-lg" href="{% url 'team_join' %}"><span class="glyphicon glyphicon-plus"> 팀 참가</span></a>
        </div>

        <div>
        <h1 style="color:#fff">참가한 팀 목록</h1><br>
        {% for team in joined_teams %}
            <a style="font-size:30px; padding:0px 10px 0px 0px; color:#aaa" href="{% url 'team_home' team_id=team.id %}"> {{ team.team_name }} </a>
            <a class="btn btn-primary btn" href="{% url 'team_leave' team_id=team.id %}"><span class="glyphicon glyphicon-remove"> 팀 탈퇴 </span></a>
            <a class="btn btn-primary btn" href="{% url 'team_delete' team_id=team.id %}"><span class="glyphicon glyphicon-remove"> 팀 삭제 </span></a>
            <br>
        {% endfor %}
        </div>
    </div>

{% endblock %}

{% block teammate_area %}
{% endblock %}