{% extends 'board/base.html' %}

{% block team_select_area %}
{% endblock %}

{% block chat_area %}
{% endblock %}

{% block problem_code_area %}
    <h1>
        <a class="btn btn-primary btn" href="{% url 'team_create' %}"><span class="glyphicon glyphicon-plus"> 팀 생성</span></a>
    </h1>
    <h1>
        <a class="btn btn-primary btn" href="{% url 'team_join' %}"><span class="glyphicon glyphicon-plus"> 팀 참가</span></a>
    </h1>

    {% for team in joined_teams %}
        <h2>
            <a href="{% url 'team_home' team_name=team.team_name %}"> {{ team.team_name }}</a>
            <a class="btn btn-primary btn" href="{% url 'team_leave' team_name_delete=team.team_name %}"><span class="glyphicon glyphicon-remove"> 팀 탈퇴</span></a>
        </h2>
    {% endfor %}

{% endblock %}

{% block teammate_area %}
{% endblock %}