{% extends 'board/base_main.html' %}

{% block team_select_area %}
{% endblock %}

{% block chat_area %}
{% endblock %}

{% block problem_code_area %}
    <h1>새 팀 생성</h1>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {% comment %} <table> {% endcomment %}
            {{ create_team_form.as_table }}
        {% comment %} </table> {% endcomment %}
        <button type="submit" class="save btn btn-primary" style="background-color: #3a3f44; border-color: #4f4f4f;">생성</button>
    </form>

{% endblock %}

{% block teammate_area %}
{% endblock %}