.page-header{
  background-color: #ff9400;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px 0px 20px 40px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active{
  color: #ffffff;
  font-size: 24pt;
  text-decoration: none;
}
.top-menu, .top-menu:hover, .top-menu:visited{
  color: white;
  font-size: 15pt;
  margin-right: 20px;
  float: right;
}

.wrapper > div{
  #background-color: orange;
  border: 1px black solid;
}

.wrapper > div:nth-child(odd){
  #background-color: indianred;
}

.wrapper{
  display: grid;
  height: 85vh;
  grid-gap: 2px;
  grid-template-columns: 50px 300px 1fr 300px;
}

.select_team{
  font-size: 10px;
}

.team_button{
  display: inline-block;
  background-color: aqua;
  width: 48px;
  height: 48px;
  word-break: break-all;
  overflow: hidden;
  font-size: 15px;
  padding: 0px 0px;
}

.my_layout{
  display: inline-block;
}