@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic");

body, input, select, textarea {
  color: rgba(255, 255, 255, 0.75);
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 100;
}

body {
    width:100%;
    height:100%;
    color: #fff;
    background-color: #272b30;
}

.wrapper_top {
  display: grid;
  /*grid-gap: 3px;*/
  grid-template-columns: 15% 11% 1fr 20%;
  height: 70px;
}
#main_1, #main_3, #main_4 {
  background-color: #3a3f44;
}
#main_2 {
  /*background-color: #573e3e;*/
  background-color: #3a3f44;
}

.page-header {
  background-color: #3a3f44;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px 0px 20px 40px;
}
.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
  color: #ffffff;
  font-size: 24pt;
  font-weight: bolder;
  text-decoration: none;
}

.logo1 {
  margin:3px 0px 0px 0px;
}
.logo2 {
  margin:20px 0px 0px 0px;
}

/*.logo_detail {*/
/*  color: #8396e2;*/
/*  font-size: 28px;*/
/*  font-weight: bold;*/
/*}*/

/*.col-sm-12 {*/
/*  height: 50px;*/
/*}*/

.top-menu,
.top-menu:hover,
.top-menu:visited {
  color: white;
  font-size: 15pt;
  margin-right: 20px;
  float: right;
}

.wrapper_base {
  display: grid;
  width: 100%;
  height: 92%;
  grid-gap: 2px;
  grid-template-columns: 60px 300px 1fr 300px;
  position: absolute;
}

.div1 {
  padding:10px 0px;
}
.div3, .div4 {
  overflow:auto;
}
.div1 {
  padding:10px 0px;
}
.wrapper_base > div {
  border: 1px black solid;
}

.wrapper_select {
  display: grid;
  width: 100%;
  height: 100%;
  padding: 40px 40px 30px 30px;
  grid-template-rows: 340px 90px 1fr ;
}

.intro {
  background-color: #272b30;
  /* border-bottom: 2px solid #3a3f44; */
  color:#aaa;
}

.wrapper_teamhome {
  display: grid;
  width: 100%;
  height: 80%;
  grid-gap: 0px;
  grid-template-rows: 70px;
  padding:0px 30px;
}

.teamhome1 {
  font-size:35px;
  font-weight:bolder;
  padding:0px 20px;
  text-align:center;
  border-bottom: 3px solid #3a3f44;
}
.teamhome2, .teamhome3, .teamhome4 {
  margin-top:20px;
  border-bottom: 3px solid #3a3f44;
}

.table {
    width: 100%;
}

.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
}

.pagination {
  width:100%;
  margin-top:-10px;
  margin-bottom:20px;
  text-align: center;
}

.listname {
  font-size:20px;
  font-weight:bold;
  padding:0px 0px 0px 7px;
  margin-bottom: 100px;
}

.key {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 23px;
}

.main {
  min-width: 320px;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  background: #ffffff;
}

.tab_section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

/* 라디오 버튼 숨김 */
.tab_input {
  display: none;
}

/* 라디오 버튼에 해당하는 제목들 tab이름 */
.tab_label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}
/* tab이름 마우스 갖다대면 손가락으로 바뀜, 색깔 바뀜 */
label:hover {
  color: #2e9cdf;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 1px solid #ffffff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7,
#tab8:checked ~ #content8,
#tab9:checked ~ #content9,
#tab10:checked ~ #content10 {
  display: block;
}

.select_team {
  font-size: 10px;
}

.team_button {
  display: inline-block;
  background-color: #d7d7d7;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align:center;
  line-height:48px;
  word-break: break-all;
  overflow: hidden;
  font-size: 15px;
  font-weight: bolder;
  color:black;
  margin: 5px;
}

.my_layout {
  display: inline-block;
}

.btn {
    border-color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn-primary {
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
}

.btn-lg {
  text-align: center;
  height:70px;
  width:400px;
  line-height: 50px;
  font-size:25px;
}

.btn_5 {
  margin-bottom:5px;
  float: right;
}


td, th {
  background-color:#3a3f44;
  border-color: #3a3f44;
}

.textarea_problem {
  width:600px; padding: 0.50rem 1rem;
  color: #fff;
  background-color: #4f4f4f;
}

#post-title {
  margin-top: 0px;
  width: 85%;
  margin-left: 7%;
  color: white;
  background-color: #3a3f44;
  border-color: white;
  border-radius: 5px;
}

#post-content {
  margin-top: 15px;
  width: 85%;
  height: 600px;
  margin-left: 7%;
  color: white;
  background-color: #3a3f44;
  border-color: white;
  border-radius: 5px;
}

.new_post_category {
  margin-left: 7%;
  margin-top: 5%;
}
.my_code_category {
  margin-left: 7%;
  margin-top: 0px;
}

#code-form{
  margin-top: 10px;
  margin-left: 7%;
  margin-right: 7%;
  border-radius: 5px;
}
#id_one_line_comment {
  width: 100%;
  color: white;
  background-color: #3a3f44;
  border-color: white;
  border-radius: 5px;
}

#id_content {
  width: 100%;
  color: white;
  background-color: #3a3f44;
  border-color: white;
  border-radius: 5px;
}

#problem-comment-content {
  margin-top: 15px;
  width: 90%;
  margin-left: 3%;
  color: white;
  background-color: #3a3f44;
  border-color: white;
  border-radius: 5px;
}

#post-comment-content {
  margin-top: 15px;
  width: 85%;
  margin-left: 7%;
  color: white;
  background-color: #3a3f44;
  border-color: white;
  border-radius: 5px;
}

.comment_list {
  margin-top: 3%;
  width: 90%;
  margin-left: 3%;
  color: white;
  border-color: white;
}

.post_comment_list {
  margin-top: 3%;
  margin-right: 8%;
  margin-left: 7%;
  color: white;
  border-color: white;
}
.code_or_boad {
  padding: 15px;
  margin-top: 15px;
  width: 85%;
  height: 600px;
  margin-left: 7%;
  color: white;
  background-color: #3a3f44;
  border-color: white;
}

a.text:hover {
  text-decoration: underline;
  color: #fff6d2;
}
.text {
  color:#ff999a;
  font-weight: bold;
}

.wrapper_problem {
  display:grid;
  /*grid-gap: 0px;*/
  /*grid-template-rows: auto auto auto;*/
  width: 100%;
  height: 100%;
}
