body {
    color: #aaa;
    background-color: #272b30;
}

.wrapper_top {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 27% 46% 27%;
}

#main_1, #main_2, #main_3 {
  background-color: #3a3f44;
}

.page-header {
  background-color: #3a3f44;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px 0px 20px 40px;
}
.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
  color: #ffffff;
  font-size: 24pt;
  font-weight: bolder;
  text-decoration: none;
}

.logo {
  padding: 9px 0px 0px 0px;
  text-align: center;
}

.logo_detail {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.col-sm-12 {
  height: 50px;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
  color: white;
  font-size: 15pt;
  margin-right: 20px;
  float: right;
}

.wrapper_base {
  display: grid;
  height: 85vh;
  grid-gap: 2px;
  grid-template-columns: 50px 300px 1fr 300px;
}

.div1 {
  padding:10px 0px
}

.wrapper_base > div {
  border: 1px black solid;
}

.wrapper_select {
  display: grid;
  padding: 40px 35px 29px 35px;
  margin: 0 auto 50px;
  grid-gap: 50px;
}

.wrapper_team {
  display: grid;
  height: 100%;
  grid-gap: 0px;
  grid-template-rows: 10% 30% 30% 30%;
}

.key {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 23px;
}

.main {
  min-width: 320px;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  background: #ffffff;
}

.tab_section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

/* 라디오 버튼 숨김 */
.tab_input {
  display: none;
}

/* 라디오 버튼에 해당하는 제목들 tab이름 */
.tab_label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}
/* tab이름 마우스 갖다대면 손가락으로 바뀜, 색깔 바뀜 */
label:hover {
  color: #2e9cdf;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 1px solid #ffffff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

.select_team {
  font-size: 10px;
}

.team_button {
  display: inline-block;
  background-color: #d7d7d7;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  text-align:center;
  line-height:48px;
  word-break: break-all;
  overflow: hidden;
  font-size: 15px;
  font-weight: bolder;
  color:black;
  padding: 0px 0px;
}

.my_layout {
  display: inline-block;
}

.btn {
    border-color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn-primary {
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
}

.btn-lg {
  text-align: center;
  height:70px;
  width:400px;
  line-height: 50px;
  font-size:25px;
}

.btn_5 {
  margin: -20px 0px 0px 680px;
}

td, th {
  background-color:#3a3f44;
  border-color: #3a3f44;
}

.table_area {
  height:110px;
}

.table {
    width: 100%;
}

.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
}

.pagination {
  margin:0px;
}

.listname {
  font-size:20px;
  font-weight:bold;
  padding:0px 0px 0px 7px;
}

.textarea {
  width:460px; padding: 0.50rem 1rem;
  color:black;
}

#post-title {
  margin-top: 0px;
  width: 85%;
  margin-left: 7%;
  color: white;
  background-color: #3a3f44;
  border-color: white;
}

#post-content {
  margin-top: 15px;
  width: 85%;
  height: 80%;
  margin-left: 7%;
  color: white;
  background-color: #3a3f44;
  border-color: white;
}

.new_post_category {
  margin-left: 7%;
  margin-top: 5%;
}
.my_code_category {
  margin-left: 7%;
  margin-top: 0px;
}
#code-one-line-comment {
  margin-top: 10px;
  width: 85%;
  margin-left: 7%;
  color: white;
  background-color: #3a3f44;
  border-color: white;
}

#code-content {
  margin-top: 15px;
  width: 85%;
  height: 600px;
  margin-left: 7%;
  color: white;
  background-color: #3a3f44;
  border-color: white;
}